<header class="headerContainer">
    <div class="headerContainerMain container">
        <script src="./src/components/header/header.js" type="module"></script>

        <div class="headerSection1">
            <img src="../src/assets/logo.png" alt="logo" class="logo">
            <p class="logoText">FromBoard Delivery</p>
        </div>

        <div class="headerSection2">
            <div class="infoBox">
                <p class="infoBoxText">Доставляем товары из заграницы в Россию</p>
                <p class="infoBoxText">Стоимость от 550 рублей за заказ</p>
                <p class="infoBoxText">1 $ = 93 ₽ | 1 € = 99 ₽ | 1 ¥ = 13 ₽</p>
            </div>


            <div class="contactBox">
                <p class="contanctBoxText">+7 (800) 123 45-67</p>
                <button id="burger" class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                    <span class="burger-line"></span>
                </button>
                <p class="contanctBoxTextTel">Звонки по России бесплатны</p>
            </div>

        </div>
    </div>

    <div class="bottom" id="bottom">
        <div class="navBarContainer container" id="navBarContainer">
            <div class="navButtons">
                <a class="navButton" href="#">Калькулятор</a>
                <a class="navButton" href="#">О нас</a>
                <a class="navButton" href="#">Гарантии</a>
                <a class="navButton" href="#">Отзывы</a>
            </div>
            <button class="styledButton">Оставить заявку</button>
        </div>

        <div class="infoBoxMini container" id="infoBoxMini">
            <p class="infoBoxText">Доставляем товары <br/> из заграницы в Россию</p>
            <p class="infoBoxText">Стоимость от 550 рублей <br/> за заказ</p>
            <p class="infoBoxText">1 $ = 93 ₽ | 1 € = 99 ₽ | 1 ¥ = 13 ₽</p>
        </div>
    </div>



</header>
