<div class="garantyMain container">
    <div class="garantyBlock ">
        <div class="text">
            <p class="headerText">Гарантии качества</p>
            <p class="BodyText container">Наши гарантии качества включают в себя полный спектр документов, необходимых для ввоза и вывоза товаров, а также для успешного бизнеса на мировом рынке. Мы предоставляем вам надёжность и уверенность</p>
        </div>
        <div class="cellContainer">
            <div class="cell">
                <img src="../../src/assets/page1.png" alt="cellImage" class="cellImage">
                <p class="pageName">Свидетельство о регистрации в РФ</p>
            </div>
            <div class="cell">
                <img src="../../src/assets/page2.png" alt="cellImage" class="cellImage">
                <p class="pageName">Свидетельство о регистрации в США</p>
            </div>
            <div class="cell">
                <img src="../../src/assets/page3.png" alt="cellImage" class="cellImage">
                <p class="pageName">Свидетельство о регистрации в Китае</p>
            </div>
            <div class="cell">
                <img src="../../src/assets/page4.png" alt="cellImage" class="cellImage">
                <p class="pageName">Свидетельство о регистрации в Великобритнии</p>
            </div>
        </div>
    </div>
    <button href="#" class="garantyButton">Показать больше документов</button>
</div>