.garantyMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garantyBlock {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 36px;

  @media (max-width: 1536px) {
    grid-template-columns: repeat(10, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(8, 1fr);
  }

  .text {
    grid-column: 4/6 span;
    text-align: center;

    @media (max-width: 1536px) {
      grid-column: 2/8 span;
    }

    @media (max-width: 1024px) {
      grid-column: 8 span;
      padding: 0 20px;
    }
    .headerText {
      font-size: var(--fs-text-3xl);
      line-height: var(--lh-text-3xl);
      text-align: center;
      font-family: "Formular-Black", sans-serif;
      margin-bottom: 12px;
    }

    .bodytext {
      font-size: var(--fs-text-base);
      line-height: var(--lh-text-base);
      margin: 0;
      margin-bottom: 16px;
    }
  }

  .cellContainer {
    display: grid;
    grid-column: 12 span;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    @media (max-width: 1536px) {
      grid-column: 2/8 span;
      grid-template-columns: repeat(8, 1fr);
    }
    @media (max-width: 1024px) {
      grid-column: 8 span;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(10, 1fr);
    }
    .cell {
      font-size: var(--fs-text-lg);
      line-height: var(--lh-text-lg);
      grid-column: 3 span;
      font-family: "Formular-Black", sans-serif;
      text-align: center;
      @media (max-width: 1536px) {
        grid-column: 4 span;
        grid-row: auto;
      }
      @media (max-width: 758px) {
        grid-column: 3/6 span;
        grid-row: auto;
      }
    }
  }
}

.garantyButton {
  padding: 16px 28px;
  border-radius: 12px;
  min-width: 315px;
}
