<footer class="footerContainer">
    <div class="footerContainerMain container">

        <div class="navPartMini">
            <a class="navButton" href="#">Калькулятор</a>
            <a class="navButton" href="#">О нас</a>
            <a class="navButton" href="#">Гарантии</a>
            <a class="navButton" href="#">Отзывы</a>
        </div>

        <div class="contactBoxMini">
                <p class="contanctBoxText">+7 (800) 123 45-67</p>
                <p class="contanctBoxTextTel">Звонки по России бесплатны</p>
        </div>

        <div class="mainPart">
            <div class="logoContainer">
                <div class="logoPart">
                    <img src="../src/assets/logo.png" alt="logo" class="logo">
                    <p class="logoText">FromBoard Delivery</p>
                </div>
                <div class="aboutPart">
                    <p class="about">2023 © Ни одно право не защищено, копируйте сколько влезет</p>
                </div>
            </div>


            <div class="navPart">
                <a class="navButton" href="#">Калькулятор</a>
                <a class="navButton" href="#">О нас</a>
                <a class="navButton" href="#">Гарантии</a>
                <a class="navButton" href="#">Отзывы</a>
            </div>

            <div class="contactBox">
                <p class="contanctBoxText">+7 (800) 123 45-67</p>
                <p class="contanctBoxTextTel">Звонки по России бесплатны</p></div>
            </div>

        <div class="descriptionPart">
            <p class="description1">НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ. Просим обратить внимание на то, что цены носят информационный и ознакомительный характер, а значит ни в какой мере не являются публичной офертой, которая определена в ст. 437 ГК РФ. Вся информация на сайте может содержать неточности, орфографические и иные ошибки, она не является полной, окончательно и исчерпывающей</p>
            <p class="description2">Разработкой макета занимался <a href="#">StyleLifeWeb | Васильев Александр</a></p>
        </div>

        </div>
    </div>

</footer>