<div class="benefitsBlockMain">
    <p class="headerText">Наши преимущества</p>
    <div class="benefitsBlock container">
        <div class="cell">
            <img src="board.png" alt="cellImage" class="cellImage">
            <div class="cellText">
                <p class="cellTextHeader">Растоможка груза</p>
                <p class="cellTextBody">Мы берём на себя все формальности и бумажную волокиту, связанную c растаможкой груза</p>
            </div>
        </div>
            <div class="cell">
                <img src="package.png" alt="cellImage" class="cellImage">
                <div class="cellText">
                    <p class="cellTextHeader">Надёжная упаковка</p>
                    <p class="cellTextBody">Все товары упаковываются нашими специалистами с особым вниманием к деталям, гарантируя, что они дойдут в безопасности и в отличном состоянии</p>
                </div>
        </div>
            <div class="cell">
                <img src="delivery.png" alt="cellImage" class="cellImage">
                <div class="cellText">
                    <p class="cellTextHeader">Быстро и выгодно</p>
                    <p class="cellTextBody">Мы предлагаем быструю и выгодную доставку, чтобы вы могли насладиться покупками как можно скорее.</p>
                </div>
        </div>
            <div class="cell">
                <img src="best.png" alt="cellImage" class="cellImage">
                <div class="cellText">
                    <p class="cellTextHeader">Удобный сервис</p>
                    <p class="cellTextBody">Стремимся сделать процесс доставки максимально удобным для вас, чтобы опыт остался приятным и беззаботным</p>
                </div>
        </div>
            <div class="cell">
                <img src="clearInfo.png" alt="cellImage" class="cellImage">
                <div class="cellText">
                    <p class="cellTextHeader">Прозрачность работы</p>
                    <p class="cellTextBody">Мы предоставляем полный контроль над каждым этапом доставки, от момента заказа до момента прибытия заказа</p>
                </div>
        </div>
            <div class="cell">
                <img src="garantee.png" alt="cellImage" class="cellImage">
                <div class="cellText">
                    <p class="cellTextHeader">Страхование груза</p>
                    <p class="cellTextBody">Наше страхование обеспечивает полную защиту и покрытие почти все неприятные и неожиданные ситуации</p>
                </div>
        </div>
    </div>
</div>